<mat-card
    class="qot-card about-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <h5>Intern Information</h5>
        <ul class="pl-0 mb-0 list-unstyled mt-0">
            <li class="text-body">
                HPCSA Number:
                <span class="text-black">OP0123456</span>
            </li>
            <li class="text-body">
                Full Name:
                <span class="text-black">Themba Nkosi</span>
            </li>
            <li class="text-body">
                Email:
                <span class="text-black">themba.nkosi&#64;example.com</span>
            </li>
            <li class="text-body">
                Status:
                <span class="text-black">Optometry Intern</span>
            </li>
            <li class="text-body">
                Location:
                <span class="text-black">Durban, South Africa</span>
            </li>
            <li class="text-body">
                Graduation Date:
                <span class="text-black">December 15, 2023</span>
            </li>
        </ul>
        <h5>Educational Background</h5>
        <ul class="pl-0 mb-0 list-unstyled mt-0">
            <li class="text-body">
                University:
                <span class="text-black">University of KwaZulu-Natal</span>
            </li>
            <li class="text-body">
                Degree:
                <span class="text-black">Bachelor of Optometry (B.Optom)</span>
            </li>
            <li class="text-body">
                GPA:
                <span class="text-black">3.8/4.0</span>
            </li>
            <li class="text-body">
                Research Project:
                <span class="text-black">Impact of Digital Devices on Myopia Progression in Children</span>
            </li>
        </ul>
        <h5>Clinical Skills</h5>
        <ul class="pl-0 mb-0 list-unstyled mt-0">
            <li class="text-body">
                Eye Examinations:
                <span class="text-black">Comprehensive adult and pediatric exams</span>
            </li>
            <li class="text-body">
                Contact Lens Fitting:
                <span class="text-black">Soft, RGP, and specialty lenses</span>
            </li>
            <li class="text-body">
                Diagnostic Equipment:
                <span class="text-black">OCT, Visual Field Testing, Topography</span>
            </li>
            <li class="text-body">
                Disease Management:
                <span class="text-black">Glaucoma, Diabetic Retinopathy, Dry Eye</span>
            </li>
            <li class="text-body">
                Languages:
                <span class="text-black">English (Fluent), isiZulu (Native), Afrikaans (Conversational)</span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>
