<div class="logout-area">
    <div class="d-table">
      <div class="d-table-cell">
        <div
          class="qot-form ml-auto mr-auto border-radius bg-white"
          [class.card-borderd-theme]="themeService.isCardBorder()"
          [class.component-dark-theme]="themeService.isDark()"
        >
          <div class="title text-center">
            <h3>Logging Out</h3>
            <p class="ml-auto mr-auto">Please wait while we log you out...</p>
          </div>
          <div class="admin text-center">
            <div class="logo position-relative rounded-circle">
              <img src="assets/images/logo.png" alt="logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="logout-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="qot-form ml-auto mr-auto border-radius bg-white"
                [class.card-borderd-theme]="themeService.isCardBorder()"
                [class.component-dark-theme]="themeService.isDark()"
            >
                <div class="title text-center">
                    <h3>Welcome To QoT</h3>
                    <p class="ml-auto mr-auto">Thank you for using QoT.</p>
                </div>
                <div class="admin text-center">
                    <div class="logo position-relative rounded-circle">
                        <img src="assets/images/logo.png" alt="logo" />
                    </div>
                    <span class="d-block fw-medium">You are now logged out</span>
                </div>
                <a routerLink="/authentication" mat-button class="btn">Sign In</a>
            </div>
        </div>
    </div>
</div> -->
