<!-- <style>



    
</style> -->

<!-- Breadcrumb -->
<!-- <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">Test Execution</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">Test Execution</li> -->
        <!-- <li class="breadcrumb-item position-relative">Mobile</li> -->
    <!-- </ol>
</div> -->

<!-- Textual Inputs -->

<!-- <div class="card-container">
    <mat-card class="qot-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-header>
            <mat-card-title>
                <h5 class="mt-0 mb-0">Execute Mobile Tests</h5>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content> -->
            <!-- <img mat-card-image src="/assets/images/mobile-tests.jpg" alt="Mobile Tests" /> -->
            <!-- <img mat-card-image src="/assets/images/mobile.png" alt="Mobile Tests" />

            <div>
                <label for="mobile-build-number">Last Build Number: {{ buildNumbers['mobile'] }}</label>
            </div>

<br><br> -->

 <!-- Dropdown for Number of Devices -->
 <!-- <label for="devices-mobile">Select number of devices(max 3):  </label>
 <select id="devices-mobile">
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
 </select>

 <br><br> -->

 <!-- Dropdown for Web Browsers -->
 <!-- <label for="browsers-mobile">Select Web Browser:  </label>
 <select id="browsers-mobile">
   <option value="chrome">Chrome</option>
   <option value="edge">Edge</option>
   <option value="firefox">Firefox</option>
 </select>

 <br><br> -->

 <!-- Dropdown for Operating Systems -->
 <!-- <label for="os-mobile">Select Operating System:  </label>
 <select id="os-mobile">
   <option value="windows">Windows</option>
   <option value="mac">Mac</option>
   <option value="linux">Linux</option>
 </select>

 <br><br> -->

  <!-- Dropdown for Environment -->
  <!-- <label for="env-mobile">Select Environment:  </label>
  <select id="env-mobile">
    <option value="pre-prod">Pre Prod</option>
    <option value="qa">QA</option>
    <option value="development">Development</option>
  </select>
<br><br> -->
  <!-- Dropdown for How to Run Tests -->
  <!-- <label for="run-mobile">How to Run Tests:  </label>
  <select id="run-mobile">
    <option value="scheduled">Scheduled</option>
    <option value="headless">Headless</option>
    <option value="on-the-spot">On the Spot</option>
  </select>
  <br><br>

            <p>Run all mobile tests in the pipeline.</p>
            <button mat-raised-button color="primary" (click)="runPipelineMobile()">Run Mobile Tests</button>
            <button mat-raised-button color="accent" (click)="viewReportMobile()">View Mobile Report</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="qot-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-header>
            <mat-card-title>
                <h5 class="mt-0 mb-0">Execute Web Tests</h5>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content> -->
            <!-- <img mat-card-image src="/assets/images/web-tests.png" alt="Web Tests" /> -->
            <!-- <img mat-card-image src="/assets/images/web.png" alt="Web Tests" />
            <div>
                <label for="web-build-number">Last Build Number: {{ buildNumbers['web'] }}</label>
            </div>

            <br><br> -->

            <!-- Dropdown for Number of Devices -->
            <!-- <label for="devices-mobile">Select number of devices(max 3):  </label>
            <select id="devices-mobile">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
           
            <br><br> -->
           
            <!-- Dropdown for Web Browsers -->
            <!-- <label for="browsers-mobile">Select Web Browser:  </label>
            <select id="browsers-mobile">
              <option value="chrome">Chrome</option>
              <option value="edge">Edge</option>
              <option value="firefox">Firefox</option>
            </select>
           
            <br><br> -->
           
            <!-- Dropdown for Operating Systems -->
            <!-- <label for="os-mobile">Select Operating System:  </label>
            <select id="os-mobile">
              <option value="windows">Windows</option>
              <option value="mac">Mac</option>
              <option value="linux">Linux</option>
            </select>
           
            <br><br> -->
           
             <!-- Dropdown for Environment -->
             <!-- <label for="env-mobile">Select Environment:  </label>
             <select id="env-mobile">
               <option value="pre-prod">Pre Prod</option>
               <option value="qa">QA</option>
               <option value="development">Development</option>
             </select>
           <br><br> -->
             <!-- Dropdown for How to Run Tests -->
             <!-- <label for="run-mobile">How to Run Tests:  </label>
             <select id="run-mobile">
               <option value="scheduled">Scheduled</option>
               <option value="headless">Headless</option>
               <option value="on-the-spot">On the Spot</option>
             </select>
             <br><br>

            <p>Run all web tests in the pipeline.</p>
            <button mat-raised-button color="primary" (click)="runPipelineWeb()">Run Web Tests</button>
            <button mat-raised-button color="accent" (click)="viewReportWeb()">View Web Report</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="qot-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-header>
            <mat-card-title>
                <h5 class="mt-0 mb-0">Execute API Tests</h5>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content> -->
            <!-- <img mat-card-image src="/assets/images/api-tests.png" alt="API Tests" /> -->
            <!-- <img mat-card-image src="/assets/images/api.jpg" alt="API Tests" />

            <div>
                <label for="api-build-number">Last Build Number: {{ buildNumbers['api'] }}</label>
            </div>

            <br><br> -->

            <!-- Dropdown for Number of Devices -->
            <!-- <label for="devices-mobile">Select number of devices(max 3):  </label>
            <select id="devices-mobile">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
           
            <br><br> -->
           
            <!-- Dropdown for Web Browsers -->
            <!-- <label for="browsers-mobile">Select Web Browser:  </label>
            <select id="browsers-mobile">
              <option value="chrome">Chrome</option>
              <option value="edge">Edge</option>
              <option value="firefox">Firefox</option>
            </select>
           
            <br><br> -->
           
            <!-- Dropdown for Operating Systems -->
            <!-- <label for="os-mobile">Select Operating System:  </label>
            <select id="os-mobile">
              <option value="windows">Windows</option>
              <option value="mac">Mac</option>
              <option value="linux">Linux</option>
            </select>
           
            <br><br> -->
           
             <!-- Dropdown for Environment -->
             <!-- <label for="env-mobile">Select Environment:  </label>
             <select id="env-mobile">
               <option value="pre-prod">Pre Prod</option>
               <option value="qa">QA</option>
               <option value="development">Development</option>
             </select>
           <br><br> -->
             <!-- Dropdown for How to Run Tests -->
             <!-- <label for="run-mobile">How to Run Tests:  </label>
             <select id="run-mobile">
               <option value="scheduled">Scheduled</option>
               <option value="headless">Headless</option>
               <option value="on-the-spot">On the Spot</option>
             </select>
             <br><br>

            <p>Run all API tests in the pipeline.</p>
            <button mat-raised-button color="primary" (click)="runPipelineApi()">Run API Tests</button>
            <button mat-raised-button color="accent" (click)="viewReportApi()">View API Report</button>
        </mat-card-content>
    </mat-card>
</div> -->







<!-- NEW NEW -->

<!-- <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0">Test Execution</h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
      <li class="breadcrumb-item position-relative">
          <a routerLink="/" class="d-inline-block position-relative">
              <i class="ri-home-8-line"></i>
              Dashboard
          </a>
      </li>
      <li class="breadcrumb-item position-relative">Test Execution</li> 
      <li class="breadcrumb-item position-relative">Mobile</li> 
   </ol>
</div> -->

<!-- Textual Inputs -->

<!-- <div class="card-container">
   <mat-card class="qot-card mb-25 border-radius bg-white border-none d-block">
      <mat-card-header>
          <mat-card-title>
              <h5 class="mt-0 mb-0">Execute Mobile Tests</h5>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>  -->
          <!-- <img mat-card-image src="/assets/images/mobile-tests.jpg" alt="Mobile Tests" /> -->
           <!-- <img mat-card-image src="/assets/images/mobile.png" alt="Mobile Tests" /> 

          <div>
              <label for="mobile-build-number">Last Build Number: {{ buildNumbers['mobile'] }}</label>
          </div>

<br><br> 

<form [formGroup]="dropdownForm">

<label for="devices-mobile">Select number of devices (max 3):</label>
<mat-form-field>
   <mat-select formControlName="devices">
       <mat-option *ngFor="let device of deviceOptions" [value]="device">{{ device }}</mat-option>
   </mat-select>
</mat-form-field> -->

<!-- Browser Selection Dropdown -->
<!-- <label for="browsers-mobile">Select Web Browser:</label>
<mat-form-field>
   <mat-select formControlName="browser">
       <mat-option *ngFor="let browser of browserOptions" [value]="browser">{{ browser }}</mat-option>
   </mat-select>
</mat-form-field> -->

<!-- OS Selection Dropdown -->
<!-- <label for="os-mobile">Select Operating System:</label>
<mat-form-field>
   <mat-select formControlName="os">
       <mat-option *ngFor="let os of osOptions" [value]="os">{{ os }}</mat-option>
   </mat-select>
</mat-form-field> -->

<!-- Environment Selection Dropdown -->
<!-- <label for="env-mobile">Select Environment:</label>
<mat-form-field>
   <mat-select formControlName="environment">
       <mat-option *ngFor="let env of environmentOptions" [value]="env">{{ env }}</mat-option>
   </mat-select>
</mat-form-field> -->

<!-- Run Method Dropdown -->
<!-- <label for="run-mobile">How to Run Tests:</label>
<mat-form-field>
   <mat-select formControlName="runMethod">
       <mat-option *ngFor="let run of runOptions" [value]="run">{{ run }}</mat-option>
   </mat-select>
</mat-form-field>
</form> 

          <p>Run all mobile tests in the pipeline.</p>
          <button mat-raised-button color="primary" (click)="runPipelineMobile()">Run Mobile Tests</button>
          <button mat-raised-button color="accent" (click)="viewReportMobile()">View Mobile Report</button>
      </mat-card-content>
  </mat-card>

  <mat-card class="qot-card mb-25 border-radius bg-white border-none d-block">
      <mat-card-header>
          <mat-card-title>
              <h5 class="mt-0 mb-0">Execute Web Tests</h5>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>  -->
          <!-- <img mat-card-image src="/assets/images/web-tests.png" alt="Web Tests" /> --> 
           <!-- <img mat-card-image src="/assets/images/web.png" alt="Web Tests" />
          <div>
              <label for="web-build-number">Last Build Number: {{ buildNumbers['web'] }}</label>
          </div>

          <br><br> -->

          <!-- Dropdown for Number of Devices -->
          <!-- <form [formGroup]="dropdownForm">
            
           <label for="devices-mobile">Select number of devices (max 3):</label>
           <mat-form-field>
               <mat-select formControlName="devices">
                   <mat-option *ngFor="let device of deviceOptions" [value]="device">{{ device }}</mat-option>
               </mat-select>
           </mat-form-field> -->
          
           <!-- Browser Selection Dropdown -->
           <!-- <label for="browsers-mobile">Select Web Browser:</label>
           <mat-form-field>
               <mat-select formControlName="browser">
                   <mat-option *ngFor="let browser of browserOptions" [value]="browser">{{ browser }}</mat-option>
               </mat-select>
           </mat-form-field> -->
          
           <!-- OS Selection Dropdown -->
           <!-- <label for="os-mobile">Select Operating System:</label>
           <mat-form-field>
               <mat-select formControlName="os">
                   <mat-option *ngFor="let os of osOptions" [value]="os">{{ os }}</mat-option>
               </mat-select>
           </mat-form-field> -->
          
           <!-- Environment Selection Dropdown -->
           <!-- <label for="env-mobile">Select Environment:</label>
           <mat-form-field>
               <mat-select formControlName="environment">
                   <mat-option *ngFor="let env of environmentOptions" [value]="env">{{ env }}</mat-option>
               </mat-select>
           </mat-form-field> -->
          
           <!-- Run Method Dropdown -->
           <!-- <label for="run-mobile">How to Run Tests:</label>
           <mat-form-field>
               <mat-select formControlName="runMethod">
                   <mat-option *ngFor="let run of runOptions" [value]="run">{{ run }}</mat-option>
               </mat-select>
           </mat-form-field>
          </form> 

          <p>Run all web tests in the pipeline.</p>
          <button mat-raised-button color="primary" (click)="runPipelineWeb()">Run Web Tests</button>
          <button mat-raised-button color="accent" (click)="viewReportWeb()">View Web Report</button>
      </mat-card-content>
  </mat-card>

  <mat-card class="qot-card mb-25 border-radius bg-white border-none d-block">
      <mat-card-header>
          <mat-card-title>
              <h5 class="mt-0 mb-0">Execute API Tests</h5>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>  -->
          <!-- <img mat-card-image src="/assets/images/api-tests.png" alt="API Tests" /> --> 
           <!-- <img mat-card-image src="/assets/images/api.jpg" alt="API Tests" />

          <div>
              <label for="api-build-number">Last Build Number: {{ buildNumbers['api'] }}</label>
          </div>

          <br><br> -->

          <!-- Dropdown for Number of Devices -->
          <!-- <form [formGroup]="dropdownForm">
             
           <label for="devices-mobile">Select number of devices (max 3):</label>
           <mat-form-field>
               <mat-select formControlName="devices">
                   <mat-option *ngFor="let device of deviceOptions" [value]="device">{{ device }}</mat-option>
               </mat-select>
           </mat-form-field> -->
         
           <!-- Browser Selection Dropdown -->
           <!-- <label for="browsers-mobile">Select Web Browser:</label>
           <mat-form-field>
               <mat-select formControlName="browser">
                   <mat-option *ngFor="let browser of browserOptions" [value]="browser">{{ browser }}</mat-option>
               </mat-select>
           </mat-form-field> -->
         
           <!-- OS Selection Dropdown -->
           <!-- <label for="os-mobile">Select Operating System:</label>
           <mat-form-field>
               <mat-select formControlName="os">
                   <mat-option *ngFor="let os of osOptions" [value]="os">{{ os }}</mat-option>
               </mat-select>
           </mat-form-field> -->
         
           <!-- Environment Selection Dropdown -->
           <!-- <label for="env-mobile">Select Environment:</label>
           <mat-form-field>
               <mat-select formControlName="environment">
                   <mat-option *ngFor="let env of environmentOptions" [value]="env">{{ env }}</mat-option>
               </mat-select>
           </mat-form-field> -->
         
           <!-- Run Method Dropdown -->
           <!-- <label for="run-mobile">How to Run Tests:</label>
           <mat-form-field>
               <mat-select formControlName="runMethod">
                   <mat-option *ngFor="let run of runOptions" [value]="run">{{ run }}</mat-option>
               </mat-select>
           </mat-form-field>
         </form>
         

          <p>Run all API tests in the pipeline.</p>
          <button mat-raised-button color="primary" (click)="runPipelineApi()">Run API Tests</button>
          <button mat-raised-button color="accent" (click)="viewReportApi()">View API Report</button>
      </mat-card-content>
  </mat-card>
</div> -->

<div class="landing-page">
    <h1>Welcome to Hydra!</h1>
    <p>Test Execution</p>
    <a href="/exec"><button mat-raised-button color="primary">Start Execution Test</button></a>
    
  </div>