

 <!-- Tabs -->
 <div class="tabs">
    <a href="/summary-dashboard" class="tab active">Summary</a>
    <a href="/test-excution-dashboard" class="tab">Execution</a>
    <a href="/build-visual" class="tab">Pipelines</a>
</div>

<!-- <iframe title="Sample Report" width="1200" height="700" src="
https://app.powerbi.com/view?r=eyJrIjoiNDU5NTJhYTctZWFjOS00MTkxLWI1M2MtMWQyNjg4NjhjOWJmIiwidCI6ImZkYWM0MDEyLWM5NWEtNDRmYy1iMzA0LTM0ODhmZTNlZjNkNSIsImMiOjl9"
frameborder="0" allowFullScreen="true"></iframe> -->


   
    

